<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <h1 class="text-light me-5 h3"><i class="fas fa-wallet mx-3"></i>Wallet Wizard</h1>
    <button class="navbar-toggler navbar-dark text-light" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item h5">
          <a class="nav-link text-light" aria-current="page" href="/balance">
            <i class="fas fa-chart-line" aria-hidden="true">&nbsp;Balance</i></a>
        </li>
        <li class="nav-item h5">
          <a class="nav-link text-light" aria-current="page" href="/categories">
            <i class="fas fa-tag" aria-hidden="true">&nbsp;Categorías</i></a>
        </li>
        <li class="nav-item h5">
          <a class="nav-link text-light" aria-current="page" href="/reports">
            <i class="fas fa-chart-pie" aria-hidden="true">&nbsp;Reportes</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
