/* You can add global styles to this file, and also import other style files */
.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  border-color: #28a745;
}

a,
a:visited {
  color: #28a745;
}

.btn-link:active,
.btn-link:focus:not(.focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}